[project]
	description = To learn features of git
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mailtovivek87
[access "refs/for/refs/*"]
	read = group user/mailtovivek87
	push = group user/mailtovivek87
	label-Code-Review = -2..+2 group user/mailtovivek87
	label-Verified = -1..+1 group user/mailtovivek87
	rebase = group user/mailtovivek87
	removeReviewer = group user/mailtovivek87
	submit = group user/mailtovivek87
[access "refs/heads/*"]
	read = group user/mailtovivek87
	create = group user/mailtovivek87
	push = +force group user/mailtovivek87
	pushMerge = group user/mailtovivek87
[access "refs/tags/*"]
	push = +force group user/mailtovivek87
	pushTag = group user/mailtovivek87
	pushSignedTag = group user/mailtovivek87
